* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav-link {
  display: flex;
  align-items: center;
  gap: 2px;
}
.card-image {
  height: 330px;
  object-fit: cover;
  width: 100%;
}
.card {
  width: 250px;
  display: flex;
  flex-direction: column;
}
.card-button {
  margin-top: auto;
}
.loader-position {
  width: 100%;
  align-items: center;
}
